absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1665754496418/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
biopython @ file:///Users/runner/miniforge3/conda-bld/biopython_1622747274830/work
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1606236249017/work
cutadapt==3.7
cycler==0.11.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dnaio==0.7.1
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1636964356021/work
google-pasta==0.2.0
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1624380533528/work
h5py==2.7.1
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1630267508721/work
intervaltree==3.0.2
isal @ file:///Users/runner/miniforge3/conda-bld/python-isal_1630304554603/work
Keras-Applications==1.0.8
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver==1.3.1
Levenshtein==0.20.8
mappy==2.24
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1657921053229/work
matplotlib==3.3.4
medaka==0.11.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
numpy==1.16.1
ont-fast5-api @ file:///opt/conda/conda-bld/ont-fast5-api_1664367715777/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.1.5
parasail @ file:///usr/local/miniconda/envs/bioconda/conda-bld/parasail-python_1661538380356/work
Pillow==8.4.0
progressbar33==2.4
protobuf==3.18.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyfaidx @ file:///opt/conda/conda-bld/pyfaidx_1658856914083/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pysam==0.15.3
python-dateutil==2.8.2
python-Levenshtein==0.20.8
pytz==2022.6
PyVCF @ file:///Users/runner/miniforge3/conda-bld/pyvcf_1602591431703/work
PyVCF3 @ file:///opt/conda/conda-bld/pyvcf3_1650931562118/work
rapidfuzz==2.11.1
scipy==1.2.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
tensorboard==1.14.0
tensorflow @ file:///Users/runner/miniforge3/conda-bld/tensorflow_1594833337001/work/tensorflow-1.14.0-cp36-cp36m-macosx_10_11_x86_64.whl
tensorflow-estimator==1.14.0
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1657118200573/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1642714909499/work
whatshap==0.18
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1633440735149/work
xopen==1.4.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
